@model USDAFundedProjects.Models.Project
@{
    ViewBag.Title = "About";
}
<section class="content-wrapper main-content clear-fix">
    <h2>About</h2>
    <p>This web application is a searchable version of the USDA Funded <strong>Know Your Farmer, Know Your Food Projects</strong> dataset available at <a href="http://catalog.data.gov/dataset/know-your-farmer-know-your-food-projects" target="_blank">http://catalog.data.gov/dataset/know-your-farmer-know-your-food-projects</a>.</p>
    <p>This application was created by <a href="http://adamlum.com" target="_blank">Adam Lum</a>.</p>
    <p>The code for this application is hosed at <a href="https://github.com/adamlum/USDA-Funded-Projects" target="_blank">https://github.com/adamlum/USDA-Funded-Projects</a>.</p>
</section>
